<!DOCTYPE html>
<!-- components/footer.html -->
<footer class="site-footer">
  <section class="footer-block">
    <h3 class="type-subtitle">Nous joindre</h3>
    <p>
      <a href="mailto:bonjour.feufollet@gmail.com"
        >bonjour.feufollet@gmail.com</a
      >
    </p>
  </section>

  <section class="footer-block">
    <h3 class="type-subtitle">Mentions légales</h3>
    <p>blabli ce site est la propriété blabli</p>
  </section>

  <section class="footer-block">
    <h3 class="type-subtitle">Réseaux sociaux</h3>
    <p>
      <img src="/assets/img/icon/instagram.png" alt="" class="icon" />
      Collectif.Feu.Follet
    </p>
    <p>
      <img src="/assets/img/icon/linkedin.png" alt="" class="icon" />
      Collectif Feu Follet
    </p>
  </section>
</footer>
