<!doctype html>
<!-- components/footer.html -->
<footer class="site-footer">
  <section class="footer-block">
    <h3 class="type-subtitle">Nous contacter</h3>
    <p>Pour travailler avec nous, écrivez-nous à&nbsp;:</p>
    <a href="mailto:bonjour.feufollet@gmail.com" class="cta_link">
      bonjour.feufollet@gmail.com
    </a>
  </section>

  <section class="footer-block">
    <h3 class="type-subtitle">Mentions légales</h3>
    <p>© 2026 <b>Cezeur Laurie et David Chloé</b> — Tous droits réservés.</p>
  </section>

  <section class="footer-block">
    <h3 class="type-subtitle">Réseaux sociaux</h3>
    <a
      href="https://www.instagram.com/collectif.feu.follet/"
      class="body"
      target="_blank"
    >
      <img src="/assets/img/icon/instagram.png" alt="" class="icon" />
      <b>collectif.feu.follet</b>
    </a>
    <a
      href="https://www.linkedin.com/in/collectif-feu-follet-3a21b4331/"
      class="body"
      target="_blank"
    >
      <img src="/assets/img/icon/linkedin.png" alt="" class="icon" />
      <b>Collectif Feu Follet</b>
    </a>
  </section>
</footer>
