<!DOCTYPE html>
<!-- components/header.html -->
<header class="site-header">
  <div class="header-inner">
    <a class="type-title" href="/index.html">Feu Follet</a>
    <button class="menu-toggle" aria-label="Menu">
      <img src="/assets/img/icon/menu-ouvrir.png" alt="menu" />
    </button>
  </div>

  <nav class="mobile-menu clickable">
    <ul>
      <li>
        <a class="type-subtitle" href="/projets.html">Projets réalisés</a>
      </li>
      <li>
        <a class="type-subtitle" href="/domaines.html">Domaines d’action</a>
      </li>
      <li>
        <a class="type-subtitle" href="/qui-sommes-nous.html"
          >Qui sommes-nous ?</a
        >
      </li>
      <li><a class="type-subtitle" href="/manifeste.html">Manifeste</a></li>
      <li><a class="type-subtitle" href="/actus.html">Actus</a></li>
    </ul>
  </nav>
</header>
