/* ===============================
   VARIABLES GLOBALES
================================ */

:root {
  /* Espacements */
  --scale: 0.5; /* maquette deux fois plus grande que la realité */
  --spacing-small: calc(30px * var(--scale)); /* 15px */
  --spacing-med: calc(60px * var(--scale)); /* 30px */
  --spacing-large: calc(120px * var(--scale)); /* 60px */

  /* Polices */
  --font-display: "Basteleur", system-ui, sans-serif;
  --font-body: Arial, system-ui, sans-serif;

  /* Couleurs Placeholder */
  --color-bg: #ffffff;
  --color-noir: #111111;
  --color-vert: #55af7f; /* vert menu */
  --color-eau: #c5ece1;
  --color-lilas: #c2b7d8;
  --color-rouge: #e75630;
  --color-rose: #ecb1b6;
  --color-bleu: #74a8c7;
  --color-jaune: #feec62;
  --color-beige: #fff7ee;
}

/* ===============================
   SYSTÈME TYPOGRAPHIQUE
================================ */

/* ---------- POLICES ---------- */

/* Basteleur Bold */
@font-face {
  font-family: "Basteleur";
  src: url("/assets/fonts/Basteleur-Bold.woff2") format("woff2"),
    url("/assets/fonts/Basteleur-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Basteleur Moonlight (la light) */
@font-face {
  font-family: "Basteleur";
  src: url("/assets/fonts/Basteleur-Moonlight.woff2") format("woff2"),
    url("/assets/fonts/Basteleur-Moonlight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* ---------- GLOBAL ---------- */
body {
  font-family: var(--font-body);
  margin: 0;
  padding: 0;
  color: var(--color-noir);
  background-color: var(--color-beige);
}

.type-hero {
  font-family: var(--font-display);
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.1;
}

/* titres */
.type-title {
  font-family: var(--font-display);
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.1;
}

/* Sous-titres, menu, footer */
.type-subtitle {
  font-family: var(--font-display);
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.2;
}

/* Texte courant */
.type-body {
  font-family: var(--font-body);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: var(--color-noir);
}

/* 4. Texte secondaire / légendes / footer */
.type-catchy {
  font-family: var(--font-body);
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 1.4;
}

/* Visuellement invisible pour le lecteur, important pour le SEO */
.visually-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}


/* =========================
   UTILITAIRES
   ========================= */

.spacing-small {
  height: var(--spacing-small);
}

/* container qui centre le contenu */
.container {
  display: flex;
  justify-content: center;
}

/* =========================
   CURSORS
   ========================= */

body {
  cursor: default;
}

a,
button,
.clickable {
  cursor: pointer;
}

/* =========================
   HEADER
   ========================= */

/* ---------- HEADER MOBILE ---------- */

.site-header {
  padding: var(--spacing-small);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: transparent;
}

.header-inner {
  display: flex;
  justify-content: space-between; /* feu follet a gauche et burger a droite */
  align-items: center;
  position: relative;
}

.header-inner a {
  height: 50px; /* hauteur forcée pour match les icones */
  padding-top: 10px; /* ajuste la position verticale du texte */
}

.menu-toggle {
  width: 50px;
  height: 50px;
  border: none;
}

/* Menu déroulant (mobile) */
.mobile-menu {
  position: absolute;
  top: 100% - var(--spacing-small); /* juste en dessous du header */
  left: 0;
  right: 0;
  padding-left: var(--spacing-small);
  padding-right: var(--spacing-small);
  background: transparent; /* pas de fond global, ce sont les items qui ont un fond */
  display: none;
  z-index: 101;
}

.mobile-menu.open {
  display: block;
}

.mobile-menu ul {
  margin: 0;
  padding: 0;
}

/* Chaque item = rectangle de la largeur du contenu, hauteur = hauteur bouton */
.mobile-menu li {
  height: 50px;
  padding-left: var(--spacing-small);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Lien centré dans le bloc */
.mobile-menu a {
  padding-top: 8px;
  width: 100%;
}

.header-room {
  height: 95px; /* pour laisser de la place au header en position absolue: 15 + 50 + 30 */
}

/* Couleurs différentes par item (placeholder) */
.mobile-menu li:nth-child(1) {
  background: var(--color-eau);
} /* Projets */
.mobile-menu li:nth-child(2) {
  background: var(--color-jaune);
} /* Domaines d’action */
.mobile-menu li:nth-child(3) {
  background: var(--color-rose);
} /* Qui sommes-nous ? */
.mobile-menu li:nth-child(4) {
  background: var(--color-rouge);
} /* Manifeste */
.mobile-menu li:nth-child(5) {
  background: var(--color-lilas);
} /* Actus */

/* ---------- HEADER DESKTOP ---------- */

@media (min-width: 1024px) {
  /* On enlève le burger */
  .menu-toggle {
    display: none;
  }

  /* Le menu n’est plus déroulant */
  .mobile-menu {
    position: static;
    display: block !important;
    padding: 0;
  }

  /* Le header devient une seule vraie ligne */
  .site-header {
    display: flex;
    align-items: center;
  }

  .header-inner {
    flex: 0 0 auto; /* le titre prend juste sa place, evite des problemes */
  }

  /* Le menu passe dans le flux normal */
  .mobile-menu {
    position: static; /* ce n'est plus absolu, il reste dans le flux, retour normal */
    display: block !important; /* forcer l’affichage au cas ou il serait caché par le menu-toggle */
    padding: 0; /* on enleve le padding du menu deroulant initial */
    margin-left: auto; /* pousse le menu complètement à droite */
  }

  .mobile-menu ul {
    display: flex;
    align-items: center;
    gap: var(--spacing-small);
  }

  .mobile-menu li {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: var(--spacing-small);
  }

  .mobile-menu a {
    padding: 0;
    padding-top: 6px;
  }
}

/* =========================
   FOOTER
   ========================= */

/* ---------- FOOTER MOBILE ---------- */
.footer-block {
  height: 90px;
  padding: var(--spacing-small);
  /* alignement du texte au centre verticalement */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-block p {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer-block .icon {
  width: 16px;
  height: 16px;
}

/* couleurs differentes par item (placeholder) */
.footer-block:nth-child(1) {
  background: var(--color-vert);
} /* Nous joindre */
.footer-block:nth-child(2) {
  background: var(--color-rose);
} /* Mentions légales */
.footer-block:nth-child(3) {
  background: var(--color-jaune);
} /* Réseaux sociaux */

/* ---------- FOOTER DESKTOP ---------- */
@media (min-width: 1024px) {
  .site-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

/* =========================
   HERO
   ========================= */

/* ---------- HERO MOBILE ---------- */
.hero {
  width: 100%;
  height: 85vh; /* 70% de la hauteur de la fenêtre */

  background-image: url("/assets/img/hero.jpg");
  background-size: cover; /* l’image remplit tout */
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center; /* centre verticalement */
  justify-content: center; /* centre horizontalement */
  position: relative; /* permet de positionner le voile blanc */
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0; /* top:0 right:0 bottom:0 left:0 */
  background: rgba(255, 255, 255, 0.4); /* blanc à 20% d’opacité */
  z-index: 1;
}

.hero-text {
  padding: 8vh;
  text-align: center;
  z-index: 2; /* au-dessus du overlay */
}

/* ---------- HERO DESKTOP ---------- */
@media (min-width: 1024px) {
  .hero-text {
    padding: 70vh;
  }
}

/* =========================
   INTRO
   ========================= */

.intro {
  padding: var(--spacing-small);
  text-align: center;
  background-color: var(--color-vert);
}

/* =========================
          PROJECTS
   ========================= */

.latest-projects, .projects {
  padding-left: var(--spacing-small);
  padding-right: var(--spacing-small);
  padding-top: var(--spacing-med);
  padding-bottom: var(--spacing-med);
  width: min(100%, 480px);
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: var(--spacing-med);
}

.project-card {
  text-align: left;
  display: flex;
  flex-direction: column;
  height: 100%;

  outline: 2px dashed rgba(255, 0, 0, 0.6);
  outline-offset: 0;
}

.project-card-textzone {
  margin-top: var(--spacing-small);
  height: 7lh;
}

.project-card-image {
  width: 100%;
  height: auto;
}

.projects-intro {
  background-color: var(--color-eau);
}

/* ---------- PROJECTS DESKTOP ---------- */

@media (min-width: 1024px) {
  .projects-grid {
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--spacing-small);
  }

  .projects, .latest-projects {
    width: 100%;
    padding-left: 10vw;
    padding-right: 10vw;
  }
}